In [865]:
import matplotlib.pylab as pyl
import numpy as np
import pandas as pd
import sympy as sp

In [866]:
SRC_BACKUP_EXCEL_DIR = 'E:/Diablo II Resurrected/backup/excel'
DST_EXCEL_DIR = 'E:/Diablo II Resurrected/mods/kruno/kruno.mpq/data/global/excel'

In [867]:
def restore_all():
    import shutil
    shutil.rmtree(DST_EXCEL_DIR)
    shutil.copytree(SRC_BACKUP_EXCEL_DIR, DST_EXCEL_DIR)

restore_all()

In [868]:
class Database:
    data: pd.DataFrame

    def __init__(self, name_of_file: str):
        self.path = f'{DST_EXCEL_DIR}/{name_of_file}.txt'
        self.data = pd.read_csv(self.path, sep="\t", dtype=object)
    
    def save(self):
        self.data.to_csv(self.path, sep='\t', mode='w', index=False)

    def get_property(self, row: int, label: str):
        return self.data.loc[row, label]

    def set_property(self, row: int, label: str, value):
        self.data.loc[row, label] = value

    def mutate_property(self, row: int, label: str, fn):
        x = self.get_property(row, label)
        self.set_property(row, label, fn(x))

In [869]:
charstats = Database('charstats')
hirelings = Database('hireling')
weapons = Database('weapons')
misc = Database('misc')
skills = Database('skills')
skilldesc = Database('skilldesc')
monstats = Database('monstats')
monstats2 = Database('monstats2')
missiles = Database('missiles')
levels = Database('levels')

Character changes

In [870]:
for i in range(8):
    if i == 5:
        continue
    charstats.set_property(i, 'WalkVelocity', 14)
    charstats.set_property(i, 'RunVelocity', 16)
    charstats.set_property(i, 'ManaRegen', 20) # 20 seconds to reach full mana
    charstats.set_property(i, 'RunDrain', 1)
    charstats.set_property(i, 'stamina', 200)

charstats.set_property(1, 'ManaRegen', 25) # Sorc has warmth for a big boost, and generally the most mana.
charstats.set_property(0, 'ManaRegen', 15)

Hireling Changes

In [871]:
for i in range(120):
    new_hp = int(hirelings.get_property(i, 'HP')) * 10
    hirelings.set_property(i, 'HP', new_hp)

mask = monstats.data['AI'].str.contains('Hireable', na=False)
for i in monstats.data.loc[mask].index:
    idx = int(i)

    print(f"{idx}: {monstats.get_property(idx, 'Id')}, {monstats.get_property(idx, '*hcIdx')}")

    monstats.set_property(idx, 'Velocity', 16)
    monstats.set_property(idx, 'Run', 20)

    monstats.set_property(idx, 'threat', 12)

    monstats.set_property(idx, 'aidel', 1)
    monstats.set_property(idx, 'aidel(N)', 1)
    monstats.set_property(idx, 'aidel(H)', 1)

    monstats.set_property(idx, 'aidist', 50)
    monstats.set_property(idx, 'aidist(N)', 50)
    monstats.set_property(idx, 'aidist(H)', 50)

    monstats.set_property(idx, 'coldeffect', -50)
    monstats.set_property(idx, 'coldeffect(N)', -33)
    monstats.set_property(idx, 'coldeffect(H)', -25)
    
    monstats.mutate_property(idx, 'DamageRegen', lambda x: int(x) + 2)

271: roguehire, 271
338: act2hire, 338
359: act3hire, 359
561: act5hire1, 560
562: act5hire2, 561

Pet buffs

In [872]:
# Increase Pet defences
mask = monstats.data['AI'].str.contains('NecroPet', na=False)

# Template for values
data = {
    'Id': '',

    'aidel': 1,
    'aidel(N)': 1,
    'aidel(H)': 1,

    'Velocity': 16,
    'Run': 25,

    'Drain': 100,
    'Drain(N)': 100,
    'Drain(H)': 100,
    'DamageRegen': 10,

    'coldeffect': -50,
    'coldeffect(N)': -33,
    'coldeffect(H)': -15,

    'ResDm': 75,
    'ResMa': 75,
    'ResFi': 75,
    'ResLi': 75,
    'ResCo': 75,
    'ResPo': 75,
    'ResDm(N)': 75,
    'ResMa(N)': 75,
    'ResFi(N)': 75,
    'ResLi(N)': 75,
    'ResCo(N)': 75,
    'ResPo(N)': 75,
    'ResDm(H)': 75,
    'ResMa(H)': 75,
    'ResFi(H)': 75,
    'ResLi(H)': 75,
    'ResCo(H)': 75,
    'ResPo(H)': 75,
}

# expand data to match all rows
num_rows = monstats.data[mask].count()[0]
data = {k: [v]*num_rows for k, v in data.items()}

# Fill in the ids
data['Id'] = monstats.data.loc[mask, 'Id']

# add new data to main data, but masked
data = pd.DataFrame.from_dict(data)
monstats.data.loc[mask, data.keys()] = data

monstats.data.loc[mask, list(data.keys())]

,Id,aidel,aidel(N),aidel(H),Velocity,Run,Drain,Drain(N),Drain(H),DamageRegen,coldeffect,coldeffect(N),coldeffect(H),ResDm,ResMa,ResFi,ResLi,ResCo,ResPo,ResDm(N),ResMa(N),ResFi(N),ResLi(N),ResCo(N),ResPo(N),ResDm(H),ResMa(H),ResFi(H),ResLi(H),ResCo(H),ResPo(H)
289,claygolem,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
290,bloodgolem,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
291,irongolem,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
292,firegolem,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
357,valkyrie,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
363,necroskeleton,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
364,necromage,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
431,wolf,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
432,bear,1,1,1,16,25,100,100,100,10,-50,-33,-15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75

In [873]:
# increase HP of skeles

fields = [
    'minHP',
    'maxHP',
    'MinHP(N)',
    'MaxHP(N)',
    'MinHP(H)',
    'MaxHP(H)',
]

# Before
display(monstats.data.loc[mask, fields])

# Convert and manipulate
monstats.data.loc[mask, fields] = monstats.data.loc[mask, fields].astype('int')
monstats.data.loc[mask, fields] *= 5

# After
monstats.data.loc[mask, fields]

    minHP maxHP MinHP(N) MaxHP(N) MinHP(H) MaxHP(H)
289   100   100      175      175      275      275
290   201   201      388      388      637      637
291   306   306      595      595      980      980
292   313   313      613      613     1013     1013
357   400   480      400      480      400      480
363    21    21       30       30       42       42
364    61    61       88       88      123      123
431    16    25       46       74       79      127
432    12    19       34       54       57       92

    minHP maxHP MinHP(N) MaxHP(N) MinHP(H) MaxHP(H)
289   500   500      875      875     1375     1375
290  1005  1005     1940     1940     3185     3185
291  1530  1530     2975     2975     4900     4900
292  1565  1565     3065     3065     5065     5065
357  2000  2400     2000     2400     2000     2400
363   105   105      150      150      210      210
364   305   305      440      440      615      615
431    80   125      230      370      395      635
432    60    95      170      270      285      460

In [874]:
# raise skeleton without corpse and enable town summon
data_fields = [
    'srvstfunc', 'srvdofunc', 'cltstfunc', 'cltdofunc', 
    'InTown', 'threat', 'TargetCorpse'
]

skills.data.loc[70, data_fields] = ['', 56, '', '', 1, 12, '']
skills.data.loc[80, data_fields] = [15, 31, 20, 31, 1, 9, 1]

monstats.data.loc[80, ['killable']] = 0

In [875]:
# [70, 80] = raise skele, raise mage

# Damage % per level
lvl = sp.Symbol('lvl')
e = lvl * 10

display(e)

eqtn = sp.horner(sp.series(e, x0=10, n=2).removeO())
display(eqtn.evalf())

skills.data.loc[70, 'aurastatcalc1'] = str(eqtn)

10*lvl

10.0*lvl

In [876]:
# frozen orb
# skills.set_property(64, 'localdelay', 10)
# skills.set_property(64, 'globaldelay', 0)

# Skill synergy; par8 = 2 aka 2%
skills.set_property(64, 'EDmgSymPerCalc', "(skill('Ice Bolt'.blvl) + skill('Cold Mastery'.blvl))*par8")

# skills.set_property(64, 'mana', 65)

skills.set_property(64, 'calc1', "ln12 * (100 + skill('Ice Bolt'.blvl) * 10 + skill('Cold Mastery'.blvl)) / 100")
skills.set_property(64, 'calc2', "ln34 * (100 + skill('Ice Bolt'.blvl) * 10 + skill('Cold Mastery'.blvl)) / 100")

In [877]:
# TP, ID books, and keys
misc.set_property(10, 'maxstack', 100)
misc.set_property(11, 'maxstack', 100)
misc.set_property(35, 'maxstack', 100)

In [878]:
# Arrows + Bolts
misc.set_property(18, 'minstack', 512)
misc.set_property(18, 'maxstack', 512)

misc.set_property(20, 'minstack', 512)
misc.set_property(20, 'maxstack', 512)

In [879]:
# Javs
weapons.set_property(47, 'minstack', 512)
weapons.set_property(47, 'maxstack', 512)

In [880]:
# infinite ammo Jav
skills.set_property(2, 'srvstfunc', '')
skills.set_property(2, 'srvdofunc', '')

skills.set_property(2, 'cltstfunc', '')
skills.set_property(2, 'cltdofunc', '')

skills.set_property(2, 'srvmissile', 'javelin')
skills.set_property(2, 'cltmissile', 'javelin')

skills.set_property(2, 'noammo', 1)

# poison jav
for idx in [15, 25, 20, 35, 24, 14]:
    if skills.get_property(idx, 'srvstfunc') == '4':
        print(skills.get_property(idx, 'skill'))
        skills.set_property(idx, 'srvstfunc', '')
        skills.set_property(idx, 'srvdofunc', '')

        skills.set_property(idx, 'cltstfunc', '')
        skills.set_property(idx, 'cltdofunc', '')

    skills.set_property(idx, 'noammo', 1)
    skills.set_property(idx, 'decquant', '')

Poison Javelin
Plague Javelin
Lightning Bolt
Lightning Fury

Assassin Skill Changes

In [881]:
# Assassin's Quickness skill
# Param5 and Param6 = (base duration and duration/lvl)

skills.set_property(258, 'Param5', int(16.666667 * 300 * 5))
skills.set_property(258, 'Param6', 1000)

In [882]:
# Wake of Inferno buff [add physical damage and scale it off weapon by 50%]
skills.set_property(272, 'HitShift', 8) # this scales tick damage from [1 -> 8]/8

# Death Sentry Buff
skills.set_property(272, 'EDmgSymPerCalc', "(skill('Lightning Sentry'.lvl))*par8")

# increase shots
mask = skills.data['skilldesc'].str.contains('sentry', na=False)
for i in skills.data[mask]['*Id']:
    idx = int(i)
    skills.set_property(idx, 'Param1', 999)

# secondary skills that have to match the above
mask = skills.data['*Param8 Description'].str.contains('# of shots', na=False)
for i in skills.data[mask]['*Id']:
    idx = int(i)
    skills.set_property(idx, 'Param8', 999)

Make Paladin's Prayer good.

In [883]:
data = skills.data
filter = data['skill'].str.contains('Prayer')
data.loc[filter, 'lvlmana'] = 0
# data.loc[filter, 'usemanaondo'] = 1
# hp
fields = ['EMin','EMinLev1','EMinLev2','EMinLev3','EMinLev4','EMinLev5']
display(data.loc[filter, fields])
# The level thresholds are levels 2-8, 9-16, 17-22, 23-28, 29 and beyond
data.loc[filter, fields] = [4, 2, 3, 4, 5, 6]
data.loc[filter, fields]

   EMin EMinLev1 EMinLev2 EMinLev3 EMinLev4 EMinLev5
99    2        1        1        2        2        3

   EMin EMinLev1 EMinLev2 EMinLev3 EMinLev4 EMinLev5
99    4        2        3        4        5        6

Add a move only skill

In [884]:
# add a move only skill
headers = {k: '' for k in skills.data.columns.values}
data = headers | {
        'skill': 'DoNothing', 
        '*Id': 365,
        'skilldesc': 'donothing', 
        'leftskill': 1, 
        'rightskill': 1, 
        'cost add': 0,
        '*eol': 0
    }

skills.data = skills.data.append(data, ignore_index=True)

headers = {k: '' for k in skilldesc.data.columns.values}
data = headers | {
        'skilldesc': 'donothing',
        'SkillPage': 0,
        'SkillRow': 0,
        'SkillColumn': 0,
        'ListRow': 0,
        'IconCel': 0,
        'str name': 'SkillNameDoNothing',
        'str short': 'SkillDescDoNothing',
        'str long': 'SkillDescDoNothing',
        'str alt': 'SkillNameDoNothing',
        '*eol': 0
    }

skilldesc.data = skilldesc.data.append(data, ignore_index=True)

for i in range(8):
    if i == 5:
        continue
    charstats.set_property(i+1, 'Skill 10', 'DoNothing')

In [885]:
data = levels.data
density_data = {'MonDen': 4, 'MonDen(N)': 3, 'MonDen(H)': 2}

for name, multiplier in density_data.items():
    data.loc[data[name].notnull(), name] = data[data[name].notnull()][name].astype('int')
    data.loc[data[name].notnull(), name] *= 4

# data[['Name','MonDen']]

add a missile that will do the base source damage as splash

In [886]:

data_to_copy = {k: v for k, v in 
    zip(missiles.data.columns.values,
    missiles.data[missiles.data['Missile'].str.fullmatch('fireball')].values[0])
}

data = data_to_copy | {
        'Missile': 'meleesplash',
        '*ID': missiles.data.tail(1).index.item() + 1,

        'pCltDoFunc': 1,
        'pCltHitFunc': 1,
        'pSrvDoFunc': 1,
        'pSrvHitFunc': 1,
        'pSrvDmgFunc': '',

        'sHitPar1': 3,
        'cHitPar1': 3,
        'cHitPar2': 1,

        'EType': '',

        'MissileSkill': 1,
        'InitSteps': 0,
        'Skill': 'Attack',
        'Range': 25,

        # 'ExplosionMissile': '',
        # 'CltHitSubMissile1': '',

        'TravelSound': '',
        'HitSound': '',
    }

missiles.data = missiles.data.append(data, ignore_index=True)

# add the last missile to attack
# skills.data.loc[0, ['srvmissile', 'cltmissilea']] = 'meleesplash'
filter = (skills.data['itypea1'].notna() & 
                                        (skills.data['itypea1'].str.match('mele') |         skills.data['itypea1'].str.match('spea') |
                                        skills.data['itypea1'].str.match('h2h') |
                                        skills.data['itypea1'].str.match('weap')))
skills.data.loc[filter, ['srvmissile', 'cltmissilea']] = 'meleesplash'

In [887]:
# Add a skill to Rogue
# 'Skill3','Mode3','Chance3','ChancePerLvl3','Level3','LvlPerLvl3'

headers = ['Skill3','Mode3','Chance3','ChancePerLvl3','Level3','LvlPerLvl3']
data = ['Decrepify', 4, 50, 8, 1, 1]

scouts = hirelings.data['Hireling'].str.fullmatch('Rogue Scout')
hirelings.data.loc[scouts, headers] = data

Increase Monster Density

In [888]:
data = levels.data
density_data = {'MonDen': 1.1, 'MonDen(N)': 1.2, 'MonDen(H)': 1.22}

for name, multiplier in density_data.items():
    data.loc[data[name].notnull(), name] = data[data[name].notnull()][name].astype('int')
    density = data.loc[data[name].notnull(), name].astype('int')
    density = (density * multiplier).round().astype('int').map(lambda x: 100_000 if x > 100_000 else x)
    data.loc[data[name].notnull(), name] = density

data[['Name','MonDen']]

                            Name MonDen
0                           Null      0
1                   Act 1 - Town      0
2           Act 1 - Wilderness 1   2288
3           Act 1 - Wilderness 2   2288
4           Act 1 - Wilderness 3   2288
5           Act 1 - Wilderness 4   2288
6           Act 1 - Wilderness 5   2288
7           Act 1 - Wilderness 6   2288
8                 Act 1 - Cave 1   2640
9                 Act 1 - Cave 2   2640
10                Act 1 - Cave 3   2640
11                Act 1 - Cave 4   2640
12                Act 1 - Cave 5   2640
13       Act 1 - Cave 2 Treasure   2640
14       Act 1 - Cave 3 Treasure   2640
15       Act 1 - Cave 4 Treasure   2640
16       Act 1 - Cave 5 Treasure   2640
17             Act 1 - Graveyard   2288
18             Act 1 - Crypt 1 A   4646
19             Act 1 - Crypt 2 A   4646
20               Act 1 - Tower 2      0
21             Act 1 - Crypt 3 A   4506
22             Act 1 - Crypt 3 B   4506
23             Act 1 - Crypt 3 C   4506
24             Act 1 - Crypt 3 D   4506
25             Act 1 - Crypt 3 E   4506
26             Act 1 - Monastery   2640
27           Act 1 - Courtyard 1   2640
28              Act 1 - Barracks   2992
29                Act 1 - Jail 1   2992
30                Act 1 - Jail 2   2992
31                Act 1 - Jail 3   2992
32           Act 1 - Courtyard 2   3168
33             Act 1 - Cathedral   2992
34           Act 1 - Catacombs 1   2992
35           Act 1 - Catacombs 2   2992
36           Act 1 - Catacombs 3   2992
37           Act 1 - Catacombs 4   2992
38              Act 1 - Tristram   2288
39          Act 1 - Moo Moo Farm   3520
40                  Act 2 - Town      0
41              Act 2 - Desert 1   3872
42              Act 2 - Desert 2   3872
43              Act 2 - Desert 3   3872
44              Act 2 - Desert 4   3872
45              Act 2 - Desert 5   3872
46   Act 2 - Valley of the Kings   3872
47             Act 2 - Sewer 1 A   2992
48             Act 2 - Sewer 1 B   2992
49             Act 2 - Sewer 1 C   2992
50                 Act 2 - Harem      0
51       Act 2 - Corrupt Harem 1   9680
52            Act 2 - Basement 1   9680
53            Act 2 - Basement 2   9680
54            Act 2 - Basement 3   9680
55              Act 2 - Tomb 1 A   9680
56              Act 2 - Tomb 2 A   9680
57              Act 2 - Tomb 2 B   9680
58              Act 2 - Tomb 3 A   9680
59       Act 2 - Tomb 1 Treasure   9680
60       Act 2 - Tomb 2 Treasure   9680
61       Act 2 - Tomb 3 Treasure   9680
62              Act 2 - Lair 1 A   4356
63              Act 2 - Lair 1 B   4356
64       Act 2 - Lair 1 Treasure   4356
65             Act 2 - Sewer 2 A   2992
66            Act 2 - Tomb Tal 1   9680
67            Act 2 - Tomb Tal 2   9680
68            Act 2 - Tomb Tal 3   9680
69            Act 2 - Tomb Tal 4   9680
70            Act 2 - Tomb Tal 5   9680
71            Act 2 - Tomb Tal 6   9680
72            Act 2 - Tomb Tal 7   9680
73         Act 2 - Duriel's Lair   9680
74                Act 2 - Arcane   4356
75                  Act 3 - Town      0
76              Act 3 - Jungle 1   2860
77              Act 3 - Jungle 2   2860
78              Act 3 - Jungle 3   2860
79              Act 3 - Kurast 1   1430
80              Act 3 - Kurast 2   1430
81              Act 3 - Kurast 3   1430
82              Act 3 - Kurast 4   1430
83             Act 3 - Travincal   1430
84              Act 3 - Spider 1   3080
85              Act 3 - Spider 2   3080
86           Act 3 - Dungeon 1 A   3080
87           Act 3 - Dungeon 1 B   3080
88           Act 3 - Dungeon 2 A   3080
89           Act 3 - Dungeon 2 B   3080
90    Act 3 - Dungeon 1 Treasure   3080
91    Act 3 - Dungeon 2 Treasure   3080
92               Act 3 - Sewer 1   2860
93               Act 3 - Sewer 2   2860
94              Act 3 - Temple 1   4356
95              Act 3 - Temple 2   4356
96              Act 3 - Temple 3   4356
97              Act 3 - Temple 4   4356
98              Act 3 - Temple 5   4356
99              Act 3 - Temple 6   4356
100           Act 3 - Mephisto 1   3520
101           Act 3 - Mephisto 2   3520
102           Act 3 - Mephisto 3   3520
103                 Act 4 - Town      0
104               Act 4 - Mesa 1   3520
105               Act 4 - Mesa 2   3520
106               Act 4 - Mesa 3   3520
107               Act 4 - Lava 1   3520
108             Act 4 - Diablo 1   3520
109                    Expansion    NaN
110                 Act 5 - Town      0
111              Act 5 - Siege 1      0
112          Act 5 - Barricade 1   1980
113          Act 5 - Barricade 2   1540
114           Act 5 - Ice Cave 1   3080
115          Act 5 - Ice Cave 1A   3520
116           Act 5 - Ice Cave 2   3080
117          Act 5 - Ice Cave 2A   2640
118       Act 5 - Barricade Snow   2420
119           Act 5 - Ice Cave 3   2860
120          Act 5 - Ice Cave 3A   2860
121         Act 5 - Mountain Top      0
122      Act 5 - Temple Entrance      0
123             Act 5 - Temple 1   3080
124             Act 5 - Temple 2   3080
125          Act 5 - Temple Boss   3080
126               Act 5 - Hell 1   3520
127               Act 5 - Hell 2   3520
128               Act 5 - Hell 3   3080
129        Act 5 - Baal Temple 1   3080
130        Act 5 - Baal Temple 2   3080
131        Act 5 - Baal Temple 3   3080
132          Act 5 - Throne Room   3080
133          Act 5 - World Stone      0
134        Act 5 - Pandemonium 1   4646
135        Act 5 - Pandemonium 2   3872
136        Act 5 - Pandemonium 3   3520
137   Act 5 - Pandemonium Finale      0

In [889]:
charstats.save()
hirelings.save()
weapons.save()
misc.save()
skills.save()
skilldesc.save()
monstats.save()
missiles.save()
monstats2.save()
levels.save()